body{
    background-color:#f0f5fc;
}
#nav{
    background-color: #4a7397;
    color: white;
}
#tour{
    background-color: #ba97c6 ;
}
#welcome{
    text-align: center;
}
#header{
    text-align: center;
}