body{
    background-color:#f0f5fc;
}
#nav{
    background-color: #4a7397;
    color: white;
}
#tour{
    background-color: #ba97c6 ;
}
#welcome{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 100px;
    color: #021a2e;
}
#header{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
#vinyls{
    background-color: #f9e3ef;
}
#vinyl{
    height: 300px;
}
#mailing{
    background-color: #a5519f;
    color: white;
}
#footer{
    background-color: #4a7397;
    color: white;
    text-align: center;
}
#sans{
    font-family: 'Raleway', sans-serif;
    font-size: 100px;
}
